<html>
    <head>
        <title>Мой блог</title>
    </head>
    <p>Здаров!</p>
    <p>Народ смотрите, у меня сайт заработал!</p>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Здесь будет краткое описание моег певого поста.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>А здесь второе описание моего второго поста</p>
        </div>
    </body>
</html>